@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgba(2, 2, 4, 1);
  color: white;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-selected:focus ~ .border-bottom {
  border-bottom-color: red;
}

.header-container {
  position: relative;
}

.border-bottom {
  position: absolute;
  bottom: -2px; 
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #BD0147 100%, #BD5001 100%);
  transition: background-color 0.3s ease;
}
